<div>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="movie name">
            <label for="date" class="form-label">Release Date</label>
            <input type="date" class="form-control" name="releasedate" id="date">
            <label for="summary" class="form-label">Summary</label>
            <input type="text" class="form-control" name="summary" id="summary" placeholder="movie summary">
            <label for="director" class="form-label">Director</label>
            <input type="text" class="form-control" name="director" id="director" placeholder="movie director">
        </div>
        <input type="submit" value="submit">
    </form>
</div>